:root {
    --main-bg-color: #0D164E;
    --main-bg-block-color:#141D5F;
    --main-text-color: #FDFEFE;
    --main-text-grey-color: #b7baca;
    --main-text-take-color: #2196F3;
    --main-text-gold-color: #FFCE79;
}